<%= form_with url: daily_log_index_path do %>
  <%= text_area_tag(:note, nil, autofocus: true) %> <%= submit_tag("Update") %>
<% end %>

Daily Logs:

<% @daily_logs.each do |daily_log| %>
<div>
  <%= daily_log.created_at.strftime("%a %b %-d, %-I:%M%P") %><br/>
  <%= daily_log.note %>
</div>
<hr/>
<% end %>
